input[type="text"]{
    text-align: center;
}

#top{
    background-color: aquamarine;
    width: 28%;
    margin-top: 10%;
    padding: 3%;
    border-radius: 5%;
    border-style: dashed;
    border-width: 5px 5px;
}